body {
    background: white;
    color: black;
}

a {
    color: #003388;
}

a:visited {
    color: #660088;
}

h1, h2, h3 {
    color: #333333;
    border-bottom: thin solid #dddddd;
}

hr {
    border: none;
    border-bottom: thin solid #dddddd;
}
